# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
broadlink_fan_codes
broadlink_media_codes
broadlink_fan_codes
custom_components (copy)
downloads
esphome
magicmirror
old_custom_components
out
php
tmp
tts
vue
www
glances
node-red
HA.code-workspace
OZW_Log.txt
client_secret_41716929352-q0i6dfsdi8hnnjajqvf29fc0sgpjn4kn.apps.googleusercontent.com.json
fitbit.conf
html5_push_registrations.conf
mqtt_broken_setup.json
options.xml
plex.conf
pyozw.sqlite
raspbee_gateway_config_*
report*.json
sendpicture*.pl
stiantest.js
appdeamon
custom_components
zigbee2mqtt
variables
deconz
broadlink_climate_codes
appdeamon



tellduslive.conf
twilioexample.php
ui-lovelace.yaml
*.xml
zwave_device_config.yaml
configurator.py
configurator.py.1


*.zip
*.db
.*
!.gitignore

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
google_calendars.yaml
known_devices.yaml
arduinologAm43.txt
backup
life360.conf
mariadbconfigERLEND
utklippfraconfig.yaml
twilioexample.yaml
test.yaml
webostv.conf
H4G45Z~P
home-assistant.log
home-assistant.log.1
home-assistant_v2.db
home-assistant_v2.db-wal
www/sounds/BotW Sounds.zip
BotW Sounds.zip
home-assistant_v2.db.corrupt.2021-01-01T10:38:50.667972+00:00
home-assistant_v2.db-shm.corrupt.2021-01-01T10:38:50.667972+00:00 
home-assistant_v2.db-wal.corrupt.2021-01-01T10:38:50.667972+00:00
HS30IB~Q
HLM0T0~4
home-assistant_v2.db
home-assistant.log.1
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.fault
old_alarm_yamlarm.txt



kodepanel.yaml