#https://github.com/ArveVM/HomeAssistantConfig4/wiki/1-Configuration#advanced-yaml-guide-general-yaml-guides--node-anchors
#TODO
homeassistant:
  packages: !include_dir_named packages
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml
  customize_domain:
    light:
      assumed_state: false
    group:
      assumed_state: false
  # external_url: !secret base_url
  # internal_url: !secret internal_url

  # name: !secret ha_name
  # latitude: !secret latitude
  # longitude: !secret longitude
  # elevation: 140
  # unit_system: metric
  # time_zone: Europe/Oslo
  # currency: NOK
  # country: "NO"

  #whitelist_external_dirs:
  # - /tmp
  # - /config/www
  # auth_providers:
  #   - type: trusted_networks
  #     trusted_networks:
  #       - 172.16.0.0/12
  #       - 192.168.0.0/24

#        - 127.0.0.1

system_health:
default_config:

trace:

logger:
  default: warning
  logs:
    custom_components.tibber_data: fatal
    homeassistant.components.camera.generic: warning
    libav: fatal
    aiohttp: fatal
    homeassistant.components.websocket_api.http.connection: fatal
    homeassistant.components.stream: fatal
    homeassistant.components.generic.camera: fatal
    homeassistant.helpers.template: warning
    graphql_subscription_manager: error
    xiaomi_cloud_map_extractor: error
    homeassistant.components.recorder.db_schema: error
    miio.miioprotocol: fatal
    homeassistant.components.nmap: info
    custom_components.bambu_lab.pybambu: fatal
    ring_doorbell.doorbot: error
    homeassistant.components.waze_travel_time.coordinator: fatal
    custom_components.priceanalyzer: debug


zone:
  - name: Home
    latitude: !secret latitude
    longitude: !secret longitude
    radius: 50
    icon: mdi:home

  - name: CloseBy
    latitude: !secret latitude
    longitude: !secret longitude
    radius: 600
    icon: mdi:home

  - name: Work
    latitude: !secret latitudeWork
    longitude: !secret longitudeWork
    radius: 100
    icon: mdi:language-php

  - name: Sykehuset
    latitude: !secret latitudeSykehuset
    longitude: !secret longitudeSykehuset
    radius: 200
    icon: mdi:hospital-building

  - name: Ekra
    latitude: !secret latitudeEkra
    longitude: !secret longitudeEkra
    radius: 300
    icon: mdi:dog-side

  - name: Dalgard
    latitude: !secret latitudeDalgard
    longitude: !secret longitudeDalgard
    radius: 50
    icon: mdi:home

  - name: Ugla
    latitude: !secret latitudeUgla
    longitude: !secret longitudeUgla
    radius: 50
    icon: mdi:home

  - name: kindergarden
    latitude: !secret latitudeBarnehage
    longitude: !secret longitudeBarnehage
    radius: 50
    icon: mdi:ferry

frontend:
  themes: !include_dir_merge_named themes/

config:

cloud:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - "172.30.33.0/24"
    - "192.168.1.200"

wake_on_lan:

recorder:
  db_url: !secret external_db_url #db_url
  #purge_keep_days: 20
  exclude:
    entities:
      # - sensor.consumptionrounded_mean
      - sensor.time_date
      - sensor.time_utc
      - sensor.time
      - sensor.erlend_mobil_last_removed_notification
      - sensor.erlend_mobil_last_notification
      - sensor.caroline_active_notification_count
      #Maria DB Addon Config
      # databases:
      #   - homeassistant
      # logins:
      #   - username: hass
      #     host: '%'
      #     password: Secret
      # rights:
      #   - username: hass
      #     host: '%'
      #     database: homeassistant
      #     grant: ALL PRIVILEGES ON

# influxdb:
#   host: a0d7b954-influxdb
#   port: 8086
#   database: homeassistant
#   username: homeassistant
#   password: !secret influx
#   ssl: false
#   verify_ssl: false
#   max_retries: 3
#   default_measurement: state

logbook:
  include:
    domains:
      - climate
      - scene
      - sun
      - alarm_control_panel
      - lock
      - automation
      - input_select
      - light
      - switch
      - script
      - device_tracker
    entities:
      - lock.ytterdor_bluetooth
      - input_select.alarm
      - light.play
      - sensor.alarm
  exclude:
    domains:
      - sensor
# pyscript:
#   allow_all_imports: true

sun:

# weather: []

#downloader:
#download_dir: downloads

#   #signal_repetitions: 2
tellstick:
  host: core-tellstick
  port: [50800, 50801]
  #nc core-tellstick 50801

# xiaomi_aqara:
#   discovery_retry: 5
#   gateways:
#     - key: !secret aqara_key

# spotify:
#   client_id: !secret spotify_client_id
#   client_secret: !secret spotify_client_secret

light:
  - platform: tellstick

  - platform: group
    name: office_lights
    entities:
      - light.office_light
      - light.play

  # - platform: group
  #   name: tvsone
  #   entities:
  #     - light.sofa
  #     - light.tv
  #     - light.chillsofa
  #     - light.peis

  - platform: group
    name: kitchensone
    entities:
      - light.kitchen
      - light.kitchen_ceiling_led
      - light.cabinet
      - light.table_lamp
      - light.kjokkenbord
      - light.ledstrip_kitchen
      - light.ledstrip_kitchen
      - light.peis
      #- light.go

  - platform: switch
    name: Garage
    entity_id: switch.garage_light

  # - platform: switch
  #   name: Star
  #   entity_id: switch.bench

  # - platform: switch
  #   name: Kitchen
  #   entity_id: switch.kitchen

  - platform: switch
    name: Cabinet
    entity_id: switch.cabinet

  # - platform: switch
  #   name: Table Lamp
  #   entity_id: switch.table_lamp

  - platform: switch
    name: Vindfang
    entity_id: switch.vindfang

  # - platform: switch
  #   name: Vindfang
  #   entity_id: switch.nexa2

  - platform: switch
    name: Office Light
    entity_id: switch.officelight

  # - platform: switch
  #   name: Bedroom
  #   entity_id: switch.bedroomlight

  # - platform: switch
  #   name: Guestroom
  #   entity_id: switch.guestroom

  # - platform: hyperion
  #   host: 192.168.1.144

# proxmoxve:
#   - host: 192.168.1.100
#     username: homeassistant
#     password: !secret proxmox_password
#     verify_ssl: false
#     realm: pve
#     nodes:
#       - node: tinyprox
#         vms:
#           - 101
#         containers:
#           - 102
#           - 103
mqtt:
  sensor:
    - name: "Fan Bathroom energy"
      state_topic: "tele/SONOFF-2/ENERGY"
      value_template: "{{ value_json.Today }}"
      unit_of_measurement: "kWh"
    - name: "Fan Bathroom power"
      state_topic: "tele/SONOFF-2/ENERGY"
      value_template: "{{ value_json.Power }}"
      unit_of_measurement: "W"
    - name: "Fan Bathroom voltage"
      state_topic: "tele/SONOFF-2/ENERGY"
      value_template: "{{ value_json.Voltage }}"
      unit_of_measurement: "V"

switch:
  - platform: tellstick

# webostv:
#   name: TV Stua
#   host: 192.168.1.165
#   #mac: 14:C9:13:2C:44:1F
#   turn_on_action:
#     service: wake_on_lan.send_magic_packet
#     data:
#       mac: "14:C9:13:2C:44:1F"
#   customize:
#     sources:
#       - Amazon Prime Video
#       - CHROME
#       - Game Console
#       #- HDMI2
#       - NRK TV
#       - Netflix
#       - TV 2 Sumo
#       - Viaplay
#       - XPlay

media_player: !include media_player.yaml

rest_command:
  healthcheck:
    url: "https://hc-ping.com/53f9779a-db7b-4497-9d95-5b729ce7bd77"

shell_command:
  restart_container: docker restart homeassistant

input_select:
  light_profile:
    name: "Light Profile:"
    options:
      - relax
      #- concentrate
      - energize
      - reading
  radio_station:
    name: "Select Radio Station:"
    options:
      - P4
      - mp3
      - P10 Country
      - P7 Klem
  chromecast_radio:
    name: "Select Speakers:"
    options:
      - Living Room
      - Living Room TV
      - Hallway
      - Group
      - Bedroom
      - Speakers
    initial: Living Room
    icon: mdi:speaker-wireless
  operationmode:
    name: Operation Mode
    options:
      - heat
      - cool
      - heat_cool
      - fan
      - "off"
    icon: mdi:air-conditioner
  heat_pump_swing_mode:
    name: Heat Pump Swing Mode
    options:
      - auto
      - 1_up
      - "2"
      - "3"
      - "4"
      - 5_down
      - swing
      - auto_tv
  fanmode:
    name: Fan Mode
    options:
      - Auto
      - Quiet
      - Powerful
    icon: mdi:fan
  alarm:
    initial: Disarm
    name: Alarm
    options:
      - Disarm
      - Arm Away
      - Arm Home

input_number:
  googlevolume:
    name: Google Home Volume
    min: 0
    max: 100
    step: 1
    mode: slider
  brightness:
    name: Brightness
    min: 0
    max: 100
    step: 1
    mode: slider

  extradegrees:
    name: Extra Degrees to heat when cold
    min: 0
    max: 10
    step: 1

  coldthreshold:
    name: Threshold for extra degrees
    min: -20
    max: 10
    step: 1

  trymasleeptime:
    name: Trym Asleep time.
    min: 0
    max: 99999

input_boolean:
  cleandustbin:
    name: Clean DustBin
  easleep:
    name: Erlend sover
    icon: mdi:sleep
  casleep:
    name: Caroline sover
    icon: mdi:sleep
  stianasleep:
    name: Stian sover
    icon: mdi:sleep
  alarmclock:
    name: Alarm Clock
    icon: mdi:alarm-bell
  expensiveelectricity:
    name: Electricity is expensive
    icon: mdi:flash
  carheatermounted:
    name: Car Heater is mounted
    icon: mdi:car
  warmupmorning:
    name: warmupmorning
    initial: off
  trymasleep:
    name: Trym is asleep
    icon: mhdi:baby-buggy
  tyraasleep:
    name: Tyra is asleep
    icon: mhdi:baby-buggy
  tryminkindergarden:
    name: Trym is in kindergarden
    icon: mdi:ferry
  tyrainkindergarden:
    name: Tyra is in kindergarden
    icon: mdi:ferry
  guestmode:
    name: Guest Mode - Will not arm house
    icon: mdi:account-group
  tabletennis:
    name: Playing Table Tennis
  testbutton:
    name: Testbutton
  doorbelljustrang:
    name: Doorbell just rang
  runvacuum:
    name: Vacuum tonight
  vacuum_when_away:
    name: Vacuum When Away

binary_sensor: !include_dir_merge_list binary_sensors
automation: !include automations.yaml
sensor: !include_dir_merge_list sensors

tts:
  - platform: google_translate
    service_name: google_say
    language: "no"
    #base_url: !secret base_url

  - platform: google_cloud
    key_file: googlecloud.json
    language: nb-NO
    gender: female

    #voice: nb-NO-Standard-E
    #voice: nb-NO-Standard-C
    voice: nb-NO-Standard-F
    encoding: linear16 #mp3 #linear16
    # speed: 1
    # pitch: -2.5
    # gain: -5.0
    text_type: ssml
    profiles:
      - small-bluetooth-speaker-class-device
      - medium-bluetooth-speaker-class-device

  # - platform: google_cloud
  #   name: "google_cloud_british"
  #   key_file: googlecloud.json
  #   language: nb-NO
  #   gender: female
  #   voice: nb-NO-Standard-E
  #   encoding: linear16
  #   # speed: 1
  #   # pitch: -2.5
  #   # gain: -5.0
  #   text_type: ssml
  #   profiles:
  #     - small-bluetooth-speaker-class-device
  #     - medium-bluetooth-speaker-class-device

ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

camera: !include cameras.yaml

stream:

telegram_bot:
  - platform: polling
    api_key: !secret telegram_bot
    allowed_chat_ids:
      - !secret telegram_chatid

twilio:
  account_sid: !secret twilio_sid
  auth_token: !secret twilio_auth_token

notify: !include notify.yaml
climate: !include climate.yaml
group: !include groups.yaml
