esphome:
  name: heatpump

esp32:
  board: esp32dev
  framework:
    type: arduino

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_key_heatpump

ota:
  - platform: esphome
    password: !secret api_password
    
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Heatpump Fallback Hotspot"
    password: !secret fallback_password_heatpump

captive_portal:
    

substitutions:
  name: "Heatpump"
  friendly_name: Heatpump
  

# https://esphome.io/components/esp32_ble_tracker.html 
esp32_ble_tracker:
  scan_parameters:
    active: true
    
# https://esphome.io/components/bluetooth_proxy.html
bluetooth_proxy:


uart:
  tx_pin: GPIO01
  rx_pin: GPIO03
  baud_rate: 2400
  rx_buffer_size: 512  
# # Enable logging
# logger:
#   baud_rate: 0
#   #hardware_uart: UART0


#esp32_ble_tracker:
#bluetooth_proxy:

# Enable Web server.
#web_server:
#  port: 80

#   # Sync time with Home Assistant.
# time:
#   - platform: homeassistant
#     id: homeassistant_time

# # Text sensors with general information.
# text_sensor:
#   # Expose ESPHome version as sensor.
#   - platform: version
#     name: ${name} ESPHome Version
#   # Expose WiFi information as sensors.
#   - platform: wifi_info
#     ip_address:
#       name: ${name} IP
#     ssid:
#       name: ${name} SSID
#     bssid:
#       name: ${name} BSSID

# # Sensors with general information.
# sensor:
#   # Uptime sensor.
#   - platform: uptime
#     name: ${name} Uptime

#   # WiFi Signal sensor.
#   - platform: wifi_signal
#     name: ${name} WiFi Signal
#     update_interval: 60s


#   # Or you could use a HomeAssistant sensor
#   #- platform: homeassistant
#   #  name: "Temperature Sensor From Home Assistant"
#   #  entity_id: sensor.temperature_sensor
#   #  on_value:
#   #    then:
#   #      - lambda: 'id(hp).set_remote_temperature(x);'

# external_components:
#   - source: github://geoffdavis/esphome-mitsubishiheatpump


climate:
  # - platform: mitsubishi_heatpump
  #   name: "${friendly_name}"
  #   # ESP32 only - change UART0 to UART1 or UART2 and remove the
  #   # logging:baud_rate above to allow the built-in UART0 to function for
  #   # logging.
  #   id: ${friendly_name}
  #   visual:
  #     min_temperature: 16
  #     max_temperature: 31
  #     temperature_step: 1.0
  #   supports:
  #     mode: [COOL, DRY, FAN_ONLY]
  #     fan_mode: [AUTO, LOW, MEDIUM, HIGH]
  #     swing_mode: ['OFF', VERTICAL]    
    # hardware_uart: UART0
    # baud_rate: 2400
    # disabled_by_default: false
    # update_interval: 500ms      
  
  - platform: mitsubishi_heatpump
    name: "${friendly_name}"
    id: hp
    hardware_uart: UART0
    baud_rate: 2400
    disabled_by_default: false
    update_interval: 500ms      
  
sensor:

  - platform: atc_mithermometer
    mac_address: "A4:C1:38:27:FE:FC"
    temperature:
      name: "Stua Temperature"
      on_value:
        then:
          - lambda: 'id(hp).set_remote_temperature(x);'

  # Uptime sensor.
  - platform: uptime
    name: ${friendly_name} uptime

  # WiFi Signal sensor.
  - platform: wifi_signal
    name: ${friendly_name} wifi signal
    update_interval: 60s
    

time:
  - platform: homeassistant
    id: homeassistant_time
    
    # Text sensors with general information.
text_sensor:
# Expose ESPHome version as sensor.
- platform: version
  name: ${friendly_name} ESPHome Version
# Expose WiFi information as sensors.
- platform: wifi_info
  ip_address:
    name: ${friendly_name} IP
  ssid:
    name: ${friendly_name} SSID
  bssid:
    name: ${friendly_name} BSSID
    

external_components:
  - source: github://geoffdavis/esphome-mitsubishiheatpump

# Enable logging
logger:
#   # ESP8266 only - disable serial port logging, as the HeatPump component
#   # needs the sole hardware UART on the ESP8266
  baud_rate: 0

# Enable Web server.
web_server:
  port: 80

#Docs:
#
# https://www.hjemmeautomasjon.no/forums/topic/2887-mitsubishi-varmepumpe-p%C3%A5-esp8266-og-mqtt/#comments    
# https://github.com/geoffdavis/esphome-mitsubishiheatpump

# HW:
# https://www.elfadistrelec.no/no/krympehus-hylse-sokkel-posisjoner-2mm-jst-pap-05v/p/30021706
# https://www.elfadistrelec.no/no/forkrympet-ledning-df11-hunn-df11-hunn-500mm-24awg-stig-wahlstroem-elektronik-k120121021/p/14352231
# https://www.elfadistrelec.no/no/forkrympet-ledning-df11-hunn-df11-hunn-500mm-24awg-stig-wahlstroem-elektronik-k120121025/p/14352235




