esphome:
  name: poseidon


#esp32:
  #board: esp32dev
  #framework:
    #type: arduino

esp8266:
  board: d1_mini


# Enable logging
logger:

# Enable Home Assistant API
api:
  password: !secret api_password_poseidon
  reboot_timeout: 12h

ota:
  - platform: esphome
    password: !secret api_password_poseidon

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password


  ap:
    ssid: "Poseidon"
    password: !secret api_password_poseidon

captive_portal:

http_request:
  useragent: esphome/device
  timeout: 10s
  id: http_request_data
  verify_ssl: false


web_server:
  port: 80
  include_internal: true


number:

  - platform: template
    name: "DANGER level 2 - SOME - Meters"
    optimistic: true
    min_value: 0
    max_value: 5
    step: 0.1    
    restore_value: true
    initial_value: 2
    id: danger_some

  - platform: template
    name: "DANGER level 3 - HIGH - Meters"
    optimistic: true
    min_value: 0
    max_value: 5
    step: 0.1
    restore_value: true
    initial_value: 3
    id: danger_high

sensor:
  - platform: ultrasonic
    trigger_pin: D4 #GPIO2
    echo_pin: D3 #GPIO15
    name: "Ultrasonic Sensor"
    update_interval: 10min
    id: ultrasonic_sensor1
    filters:
      filter_out: nan
    timeout: 9m
    on_value:
      - logger.log:
          format: "POSTing distance: %.1f"
          args: [ 'id(ultrasonic_sensor1).state']
          level: WARN
      - http_request.post:
          url: https://beta.f24cim.com/nic/_webservices/flow/service/1.0/webhook/1673347441361c6be6004e80ffeef395f88619b91690e3b22ef949153a8182a4ad8e128f8f
          #url: !lambda |-
          # return ((std::string) id(url).state).c_str();
          verify_ssl: false
          headers:
            Content-Type: application/json
          json: |-
            if (id(ultrasonic_sensor1).state > id(danger_high).state) {
              root["merge_codes"]["DANGER"] = 3;
              root["merge_codes"]["DISTANCE"] = id(ultrasonic_sensor1).state;
            } 
            if(id(ultrasonic_sensor1).state > id(danger_some).state and id(ultrasonic_sensor1).state < id(danger_high).state) {
              root["merge_codes"]["DANGER"] = 2;
              root["merge_codes"]["DISTANCE"] = id(ultrasonic_sensor1).state;
            }
            if(id(ultrasonic_sensor1).state < id(danger_some).state) {
              root["merge_codes"]["DANGER"] = 1;
              root["merge_codes"]["DISTANCE"] = id(ultrasonic_sensor1).state;
            }
          on_response:
            then:
              - logger.log:
                  format: 'Response status: %d'
                  args:
                    - status_code