esphome:
  name: vvb-temp
  includes:
    - ingics_parser.h

esp32:
  board: esp32doit-devkit-v1
  framework:
    type: esp-idf

#web_server:
  #port: 80
  #include_internal: true

logger:

api:

ota:
  - platform: esphome
    password: !secret api_password



wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "Vvb-Temp Fallback Hotspot"
    password: !secret fallback_password_vvb

captive_portal:

bluetooth_proxy:
esp32_ble_tracker:
  on_ble_advertise:
    - then:
        lambda: |-
          std::string mac = x.address_str();
          if (mac == "A0:6C:65:E2:1A:25") {
            if (auto temp = parse_ingics_temp_full(x, "fryser")) {
              id(fryser_internal).publish_state(temp->internal);
              if (temp->has_probe) {
                id(fryser_probe).publish_state(temp->probe);
              }
            }
          }

one_wire:
  - platform: gpio
    pin: GPIO15
    #update_interval: 20s

sensor:
  - platform: dallas_temp
    address: 0x9AB9E1271E64FF28
    name: "VVB Top"
    update_interval: 15s

  - platform: dallas_temp
    address: 0x1A61595E1E64FF28
    name: "VVB Bottom"
    update_interval: 15s

  - platform: template
    id: fryser_internal
    name: "Fryser Internal Temp"
    unit_of_measurement: "°C"
    device_class: temperature
    state_class: measurement
    accuracy_decimals: 1

  - platform: template
    id: fryser_probe
    name: "Fryser Probe Temp"
    unit_of_measurement: "°C"
    device_class: temperature
    state_class: measurement
    accuracy_decimals: 1
